@import "./css/Prompter.css";
@import "./css/Footer.css";
@import "./css/Navigator.css";
@import "./css/Directory.css";

:root {
  --keyword-purple: #C586C0;
  --variable-blue: #9CDCFE;
  --string-text: #CE9178;
  --number-green: #B5CEA8;
  --storage-blue: #569CD6;
  --function-yellow: #DCDCAA;
  --comment-green: #6A9955;
  --text-color: #D4D4D4;

  --editor-background: #1E1E1E;
  --sidebar-background: #171717;
  --border-grey: #444444;
  --accent-blue: #007ACC;
  --terminal-success: #4EC9B0;
  --sidebar-button: #FFFFFF;
  --ai-box: #3C3C3C;
  --ai-box-text: #CCCCCC;
  --hover: rgba(255, 255, 255, 0.2);
  --hover-light: rgba(255, 255, 255, 0.025);

  --list-hover-bg: rgba(0, 0, 0, 0.05);
  --list-active-bg: rgba(0, 120, 215, 0.15);
  --list-active-fg: #333333;
  --list-inactive-selection-bg: #37373D;
}

[data-theme='light'] {
  --keyword-purple: #AF00DB;
  --variable-blue: #001080;
  --string-text: #A31515;
  --number-green: #098658;
  --storage-blue: #0000FF;
  --function-yellow: #795E26;
  --comment-green: #008000;
  --text-color: #000000;

  --editor-background: #FFFFFF;
  --sidebar-background: #F3F3F3;
  --border-grey: #E5E5E5;
  --accent-blue: #007ACC;
  --terminal-success: #008000;
  --sidebar-button: #1E1E1E;
  --ai-box: #fefefe;
  --ai-box-text: #000000;
  --hover: rgba(0, 0, 0, 0.2);
  --hover-light: rgba(0, 0, 0, 0.05);

  --list-hover-bg: rgba(255, 255, 255, 0.1);
  --list-active-bg: #aad5ff;
  --list-active-fg: #FFFFFF;
  --list-inactive-selection-bg: #c4c4cc;
}

body {
  background-color: var(--editor-background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: sans-serif;
}

.terminal {
  background-color: var(--sidebar-background);
  position: fixed;
  height: 15rem;
  bottom: 2rem;
  border-top: 0.1rem solid var(--border-grey);
}

.contentData {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #ff000019; */
}