@import "./Prompter.css";

:root {
  --keyword-purple: #C586C0;
  --variable-blue: #9CDCFE;
  --string-text: #CE9178;
  --number-green: #B5CEA8;
  --storage-blue: #569CD6;
  --function-yellow: #DCDCAA;
  --comment-green: #6A9955;
  --text-color: #D4D4D4;

  --editor-background: #1E1E1E;
  --sidebar-background: #171717;
  --border-grey: #444444;
  --accent-blue: #007ACC;
  --terminal-success: #4EC9B0;
  --sidebar-button: #FFFFFF;
  --ai-box: #3C3C3C;
  --ai-box-text: #CCCCCC;
}

[data-theme='dark'] {
  --keyword-purple: #AF00DB;
  --variable-blue: #001080;
  --string-text: #A31515;
  --number-green: #098658;
  --storage-blue: #0000FF;
  --function-yellow: #795E26;
  --comment-green: #008000;
  --text-color: #000000;

  --editor-background: #FFFFFF;
  --sidebar-background: #F3F3F3;
  --border-grey: #E5E5E5;
  --accent-blue: #007ACC;
  --terminal-success: #008000;
  --sidebar-button: #1E1E1E;
  --ai-box: #fefefe;
  --ai-box-text: #000000;
}

body {
  background-color: var(--editor-background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: sans-serif;
}

.footer {
  height: 2rem;
  width: 100%;
  background-color: var(--accent-blue);
  position: fixed;

  bottom: 0;
  left: 0;
  font-size: 14px;
  color: white;
  align-content: center;

  border-top: 0.1rem solid var(--border-grey);
}

.header {
  height: 100%;
  width: 4rem;
  background-color: var(--sidebar-background);
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 1rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 0.1rem solid var(--border-grey);
}


.directory {
  position: fixed;
  left: 4rem;
  top: 0;
  width: 18rem;
  height: calc(100vh - 2rem);
  background-color: var(--sidebar-background);
  border-right: 0.1rem solid var(--border-grey);
}

.terminal {
  background-color: var(--sidebar-background);
  position: fixed;
  height: 18rem;
  bottom: 2rem;
  border-top: 0.1rem solid var(--border-grey);
}

.transparentButton {
  background: transparent;
  border: none;
  color: var(--sidebar-button);
  cursor: pointer;
}

.transparentButtonFooter {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-height: 700px) {
  .footer {
    height: 1.5rem;
  }
}